<!--============================= HEADER =============================-->
<div class="dark-bg sticky-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="http://localhost:5678/dashboard/dashboard">MealsOnWheels</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-menu"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <div *ngIf="token==''||token==null||token=='undefined';else kk">
                                <button routerLinkActive="btn-outline-primary" class="btn mx-1" routerLink="/customer/login">login</button>
                            </div>
                            <ng-template #kk>
                                <button type="button" class="btn btn-danger" (click)="logout()">logout</button>
                            </ng-template>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>    

<!--//END HEADER -->
<!--============================= DETAIL =============================-->

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 responsive-wrap">


                <div class="row light-bg detail-options-wrap">
                    <div *ngFor="let name of names; let i = index" class="col-sm-4 col-lg-12 col-xl-4 featured-responsive">
                        <div class="featured-place-wrap">
                            <div (click)="saveRestId(ids[i])">
                                <img src="../../../assets/images/featured1.jpg" class="img-fluid" alt="#">
                                <!-- <span class="featured-rating-orange ">6.5</span> -->
                                <div class="featured-title-box">
                                    <h6>{{name}}</h6>
                                    <p><span>Restaurant</span></p>
                                    <!-- <span>• </span>
                                    <p>3 Reviews</p>
                                    <span> • </span>
                                    <p>
                                        <span>$$$</span>$$
                                    </p> -->
                                    <ul>
                                        <li>
                                            <span class="icon-location-pin"></span>
                                            <p>{{street[i]}},{{lane[i]}},{{landmark[i]}},{{city[i]}}-{{pincode[i]}}</p>
                                        </li>
                                        <li>
                                            <span class="icon-screen-smartphone"></span>
                                            <p>{{phone[i]}}</p>
                                        </li>
                                        <li>
                                            <span class="icon-link"></span>
                                            <!-- <p>{{website[i]}}</p> -->
                                        </li>

                                    </ul>
                                    <div *ngIf="status[i]=='open';then open;else closed" ></div>
                                    <ng-template #closed>
                                        <div class="bottom-icons">
                                            <div class="closed-now">CLOSED NOW</div>
                                            <span class="ti-heart"></span>
                                            <span class="ti-bookmark"></span>
                                        </div>
                                    </ng-template>
                                    <ng-template #open>
                                        <div class="bottom-icons">
                                            <div class="open-now">OPEN NOW</div>
                                            <span class="ti-heart"></span>
                                            <span class="ti-bookmark"></span>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>







<!--//END DETAIL -->
<!--============================= FOOTER =============================-->

<!--//END FOOTER -->




<!-- jQuery, Bootstrap JS. -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>