
    <!--============================= HEADER =============================-->
    <div class="dark-bg sticky-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="http://localhost:5678/dashboard/dashboard">MealsOnWheels</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icon-menu"></span>
            </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                    <div *ngIf="username=='';else kk">
                                            <button routerLinkActive="btn-outline-primary" class="btn mx-1" routerLink="customer/login">login</button>  
                                          </div>
                             <ng-template #kk>
                            <button type="button" class="btn btn-danger" (click)="logout()">logout</button>
                        </ng-template>
                        </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    
    <div *ngIf="username=='';else dd">
      
    </div>
        <ng-template #dd>
            <div>{{username}}</div>
        </ng-template>


    <!--//END HEADER -->
    <!--============================= DETAIL =============================-->
    
    <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 responsive-wrap">
                        
                        
                        <div class="row light-bg detail-options-wrap">
                            <div class="col-sm-4 col-lg-12 col-xl-4 featured-responsive">
                                <div class="featured-place-wrap">
                                    <a href="detail.html">
                                        <img src="images/featured1.jpg" class="img-fluid" alt="#">
                                        <span class="featured-rating-orange ">6.5</span>
                                        <div class="featured-title-box">
                                            <h6>Burger &amp; Lobster</h6>
                                            <p>Restaurant </p> <span>• </span>
                                            <p>3 Reviews</p> <span> • </span>
                                            <p><span>$$$</span>$$</p>
                                            <ul>
                                                <li><span class="icon-location-pin"></span>
                                                    <p>1301 Avenue, Brooklyn, NY 11230</p>
                                                </li>
                                                <li><span class="icon-screen-smartphone"></span>
                                                    <p>+44 20 7336 8898</p>
                                                </li>
                                                <li><span class="icon-link"></span>
                                                    <p>https://burgerandlobster.com</p>
                                                </li>
    
                                            </ul>
                                            <div class="bottom-icons">
                                                <div class="closed-now">CLOSED NOW</div>
                                                <span class="ti-heart"></span>
                                                <span class="ti-bookmark"></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-12 col-xl-4 featured-responsive">
                                <div class="featured-place-wrap">
                                    <a href="detail.html">
                                        <img src="images/featured2.jpg" class="img-fluid" alt="#">
                                        <span class="featured-rating-green">9.5</span>
                                        <div class="featured-title-box">
                                            <h6>Joe’s Shanghai</h6>
                                            <p>Restaurant </p> <span>• </span>
                                            <p>3 Reviews</p> <span> • </span>
                                            <p><span>$$$</span>$$</p>
                                            <ul>
                                                <li><span class="icon-location-pin"></span>
                                                    <p>1301 Avenue, Brooklyn, NY 11230</p>
                                                </li>
                                                <li><span class="icon-screen-smartphone"></span>
                                                    <p>+44 20 7336 8898</p>
                                                </li>
                                                <li><span class="icon-link"></span>
                                                    <p>https://burgerandlobster.com</p>
                                                </li>
    
                                            </ul>
                                            <div class="bottom-icons">
                                                <div class="open-now">OPEN NOW</div>
                                                <span class="ti-heart"></span>
                                                <span class="ti-bookmark"></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
    
                            <div class="col-sm-4 col-lg-12 col-xl-4 featured-responsive">
                                <div class="featured-place-wrap">
                                    <a href="detail.html">
                                        <img src="images/featured3.jpg" class="img-fluid" alt="#">
                                        <span class="featured-rating">3.2</span>
                                        <div class="featured-title-box">
                                            <h6>Tasty Hand-Pulled Noodles</h6>
                                            <p>Restaurant </p> <span>• </span>
                                            <p>3 Reviews</p> <span> • </span>
                                            <p><span>$$$</span>$$</p>
                                            <ul>
                                                <li><span class="icon-location-pin"></span>
                                                    <p>1301 Avenue, Brooklyn, NY 11230</p>
                                                </li>
                                                <li><span class="icon-screen-smartphone"></span>
                                                    <p>+44 20 7336 8898</p>
                                                </li>
                                                <li><span class="icon-link"></span>
                                                    <p>https://burgerandlobster.com</p>
                                                </li>
    
                                            </ul>
                                            <div class="bottom-icons">
                                                <div class="closed-now">CLOSED NOW</div>
                                                <span class="ti-heart"></span>
                                                <span class="ti-bookmark"></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-12 col-xl-4 featured-responsive">
                                <div class="featured-place-wrap">
                                    <a href="detail.html">
                                        <img src="images/featured4.jpg" class="img-fluid" alt="#">
                                        <span class="featured-rating-green">9.5</span>
                                        <div class="featured-title-box">
                                            <h6>Pizza - Cicis</h6>
                                            <p>Restaurant </p> <span>• </span>
                                            <p>3 Reviews</p> <span> • </span>
                                            <p><span>$$$</span>$$</p>
                                            <ul>
                                                <li><span class="icon-location-pin"></span>
                                                    <p>1301 Avenue, Brooklyn, NY 11230</p>
                                                </li>
                                                <li><span class="icon-screen-smartphone"></span>
                                                    <p>+44 20 7336 8898</p>
                                                </li>
                                                <li><span class="icon-link"></span>
                                                    <p>https://burgerandlobster.com</p>
                                                </li>
    
                                            </ul>
                                            <div class="bottom-icons">
                                                <div class="closed-now">CLOSED NOW</div>
                                                <span class="ti-heart"></span>
                                                <span class="ti-bookmark"></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>







    <!--//END DETAIL -->
    <!--============================= FOOTER =============================-->
    
    <!--//END FOOTER -->




    <!-- jQuery, Bootstrap JS. -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>


    